:root {
    --cor-principal-logo-intenso: #008000;
    --cor-principal-logo-claro: #A9DFBF;

    --cor-principal-botao-escuro: #008000;
    --cor-principal-botao-claro: #A2D9CE;

    --cor-banner-claro: #C5E99B;
    --cor-banner-intenso: #9BC93B;

    --cor-outro-suave-1: #D4F4DD;
    --cor-outro-suave-2: #E8F59E;
    --cor-outro-intenso-1: #A8D050;

    --cor-outro-suave-3: #E8F59E;
    --cor-outro-escuro-1: #6E8C7F;
    --cor-outro-fresco: #B2E5D3;
    --cor-outro-suave-4: #9BC93B;
    --cor-outro-suave-5: #D4F4DD;
}

/* Adicione as seguintes classes */
.mt-5, .my-5 {
    margin-top: 0rem !important;
}
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

.pagination .page-link.active {
    background-color: var(--cor-banner-intenso); /* Cor de fundo da página ativa */
    color: #fff; /* Cor do texto da página ativa */
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-item {
    margin: 0 5px;
}

/* Estilos específicos para o cabeçalho */
header {
/* Adapte o espaçamento conforme necessário */
    padding: 20px 0;
}

/* Estilo para a imagem do logo */
img.logo {
    max-height: 60px; /* Ajuste conforme necessário */
}

/* Ajuste do espaçamento do menu */
.navbar-nav {
    margin-top: 10px; /* Ajuste conforme necessário */
}

ul.navbar-nav.ml-auto li a, .navbar-light .navbar-nav .nav-link {
    color: #000000 !important;
    font-size: 18px;
    font-weight: 700;
}

/* Estilos para o botão "Fale Conosco" */
a.btn.btn-primary.mx-2.btn-fale-conosco {
    background-color: var(--cor-principal-botao-claro) !important;
    color: var(--cor-principal-botao-escuro);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*container personalizado*/
main.container-fluid.mt-5, section#nutricao-premium {
    margin-top: 0rem!important;
}

main.container-fluid.mt-5{
    padding: 0px;
}

/* Estilo para container personalizado */
.custom-container {
    max-width: 1200px; /* Defina a largura máxima desejada para o container */
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding-right: 20px; /* Adapte o espaçamento lateral conforme necessário */
    padding-left: 20px; /* Adapte o espaçamento lateral conforme necessário */
}

/* Exemplo de container full-width */
.full-width-container {
    width: 100%;
}

/*corpo*/
.banner-section {
    background-image: url(../img/banner-principal.svg);
    background-size: 100% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: 0px !important;
}

.mt-5 .banner-section, .my-5 {
    margin-top: 0rem!important;
}
.image-container img {
    max-height: 500px;
}

.text-container {
    padding: 20px;
}

/* Adicione estilos personalizados conforme necessário */
.text-container {
    padding: 20px;
}

.image-container {
    padding: 20px;
}

/* Serviços - Estilos padrão para telas maiores (colunas) */
#nossos-servicos .col-md-3 {
    flex: 23%;
    border: 2px solid var(--cor-principal-botao-escuro);
    background: linear-gradient(to bottom, #ffffff, var(--cor-principal-botao-claro));
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Adicione estilos para a última coluna para evitar margem à direita */
#nossos-servicos .col-md-3:last-child {
    margin-right: 0;
}

#nossos-servicos .col-md-3 img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#nossos-servicos .col-md-3 h4 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #333;
}

#nossos-servicos .col-md-3 p {
    color: #555;
}

#nossos-servicos .row:last-child .col {
    text-align: center;
}

#nossos-servicos .row:last-child .col button {
    background-color: var(--cor-principal-botao-claro);
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nossos-servicos .row:last-child .col button:hover {
    background-color: #8CCDB5;
}

#nossos-servicos img {
    height: 95px !important; /* Defina a altura desejada */
    width: auto; /* Garante que a largura seja ajustada automaticamente para manter a proporção original */
}

/* Estilo para as sessões */
.custom-container {
    padding: 40px 0;
}

/* Estilo para a nova seção "nutricao premium" */
#nutricao-premium, #bemestar-e-diversao {
    background: linear-gradient(to top, var(--cor-outro-suave-1), #ffffff) ;
}

/* Estilo para o texto */
#nutricao-premium .texto {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilo para a coluna de imagem */
#nutricao-premium .coluna-imagem img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Estilo para o botão */
#nutricao-premium .botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.imagem-canto-direito {
    text-align: right; /* Alinha a div de imagem para a direita */
}

.imagem-canto-direito img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
    height: auto; /* Mantém a proporção original da imagem */
}

/* Estilos CSS */
.depoimento-content {
    background-color: var(--cor-principal-botao-escuro); /* Cor de fundo para a seção do depoimento, substitua pela cor desejada */
    padding: 20px; /* Ajuste conforme necessário */
    border-radius: 10px; /* Ajuste conforme necessário */
    text-align: center; /* Centraliza o conteúdo */
    color: #ffffff; /* Cor do texto, ajuste conforme necessário */
    margin-bottom: 20px; /* Espaçamento na parte inferior do depoimento */
    margin-right: 10px; /* Adiciona espaçamento à direita da coluna de depoimento */
}

.depoimento-content:last-child {
    margin-right: 0; /* Remove a margem direita da última coluna de depoimento */
}

.depoimento img {
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites da div */
    border-radius: 5px; /* Borda arredondada para a imagem, ajuste conforme necessário */
    margin-bottom: 10px; /* Adiciona espaço entre a imagem e o conteúdo */
}

.depoimento-content {
    margin-top: 10px; /* Espaçamento entre a imagem e o conteúdo */
}

.col-md-3.mb-4.depoimento {
    flex: 0 0 33%;
    margin-top: 40px;
}

/*Quem somos*/
img.img-fluid.quem-somos{
    max-height: 100%; 
}
/*Galeria de iamgem*/
.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery-item {
    width: calc(25% - 20px); /* 25% para 4 colunas e subtraindo a margem */
    margin: 10px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Estilo para limitar o tamanho das imagens na galeria */
#galleryContainer img {
    max-width: 400px;
    max-height: 200px;
    width: auto;
    height: auto;
}

/*Categoria de produto*/
#lista-de-produto .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: inline-block;
}

#lista-de-produto .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#lista-de-produto .card-body {
    flex: 1;
}
.card {
    height: 540px !important;
}

/* Adicione essas regras para estilizar a paginação */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #ffffff; /* Cor do texto da página */
    background-color: var(--cor-principal-botao-claro); /* Cor de fundo do botão da página */
    border-color: #ffffff; /* Cor da borda do botão da página */
}

.pagination .page-link:hover {
    background-color: var(--cor-principal-botao-escuro); /* Cor de fundo ao passar o mouse */
    border-color: #ffffff; /* Cor da borda ao passar o mouse */
    color: #ffffff; /* Cor do texto ao passar o mouse */
}

.page-link:focus {
   box-shadow: none !important;
}

/*pagina contato*/
.map-container {
    margin: 40px 0px 0px 0px;
}

/*footer*/
footer {
    background-color: var(--cor-outro-suave-1);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer h4 {
    color: var(--cor-principal-botao-escuro);
}

footer input,
footer button {
    background-color: var(--cor-principal-botao-escuro);
    color: var(--cor-outro-suave-1);
}

.btn.btn-primary {
    background-color: var(--cor-principal-botao-escuro) !important;
    border-color: var(--cor-principal-botao-escuro) !important;
}

.informativo{
    padding: 40px 0px;
}

footer ul, footer a, footer a:hover {
    list-style: none;
    padding: 0px;
    color: #000000;
}

.row.footer {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

/*Página de Produto Tosa Especializada*/
.servico-tosa {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.imagem-higiene-do-pet, .imagem-banho-relaxante{
    max-width: 100% !important; /* Garantir que a imagem não ultrapasse a largura da coluna */
    height: auto !important; /* Manter a proporção da imagem */
    display: block !important; /* Evitar espaços indesejados abaixo da imagem */
    border-radius: 10px;
}
ul.higiene-do-pet, ul.banho-relaxante {
    list-style: none !important;
    padding: 0px;
}
#etapas-do-banho .col-md-2.text-center {
    flex: 0 0 18% !important;
    max-width: 20%;
    border: solid 2px #008000;
    margin: 0px 5px;
    padding: 50px 20px;
    border-radius: 10px;
}
#cuidado-adicional img{
    width: 80px !important;
}
.details h4, #cuidado-adicional h4 {
    font-size: 18px;
}
#cuidado-adicional img {
    padding: 10px 0px 40px 0px;
}
#cuidado-adicional .col-md-3.text-center {
    flex: 23%;
    border: 2px solid var(--cor-principal-botao-escuro);
    /* background: linear-gradient(to bottom, #ffffff, var(--cor-principal-botao-claro)); */
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
#como-funciona .col-md-3.text-center {
    flex: 23%;
    border: 2px solid #f5f5f5;
    /* background: linear-gradient(to bottom, #ffffff, var(--cor-principal-botao-claro)); */
    padding: 40px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

h4.como-funciona {
    float: right;
    font-size: 20px;
}
#tratamento-5-estrelas img{
    width: 448px;
    border-radius: 10px;
    height: 438px;
}
.icon-with-title {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Ajuste conforme necessário */
}

.icon-with-title i {
    margin-right: 10px; /* Espaçamento entre o ícone e o título */
}
.fa-2x {
    font-size: 1.5em !important;
}

.tratamento-col {
    padding: 20px;
    margin-bottom: 20px;
}

.icon-with-text {
    display: flex;
    margin-bottom: 10px;
}

.icon-with-text i {
    margin-right: 10px;
    margin-top: 5px;
}
#duvidas .card {
    height: auto !important;
    margin-bottom: 10px;
}
#duvidas {
    background: #f7f7f7;
}
.btn-link {
    font-weight: 600 !important;
    color: #000000 !important;
    text-decoration: none;
}
a.servico-tosa.botao, a.bem-vindo.botao, a.nossos-servicos.botao, a.nutrientes-alimentos.botao, a.galeria-de-imagem.botao, a.contato.botao, a.tosa-personalizada.botao {
    background: var(--cor-principal-botao-escuro);
    color: #ffffff;
    text-decoration: none;
    margin-top: 15px;
}
.btn-primary.focus, .btn-primary:focus, .form-control:focus {
    box-shadow: none !important;
    border-color: var(--cor-principal-botao-escuro) !important;

}
/* Estilos opcionais para responsividade */
@media (max-width: 576px) {
    .gallery-item {
        width: 100%; /* 100% para uma coluna em telas muito pequenas */
    }
    #lista-de-produto .col-md-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .custom-container {
        padding: 40px 40px;
    }
    h1, h2, h3, h4, h5, h6 {
        margin-top: 20px !important;
        margin-bottom: 0.5rem;
        text-align: center !important;
        font-size: 1.3rem !important;
    }
    .text-container, .image-container {
        padding: 10px;
    }

    /* Inverte a ordem da flexbox para colocar a imagem antes do texto */
    .flex-container {
        flex-direction: column-reverse;
    }

    /* Ajuste do background para telas menores */
    .banner-section {
        background-size: cover;
        background-position: center bottom;
        background-image: none; /* Remove a imagem de fundo no celular */
        height: auto;
        /* Adiciona um background linear com as cores da logo */
        background: linear-gradient(to top, var(--cor-outro-suave-1), #ffffff);
        margin-top: 0px !important;
    }

    #nossos-servicos .col-md-3, #como-funciona .col-md-3.text-center {
        flex: 100%;
        margin-right: 0px;
    }

    .gallery-item {
        width: calc(50% - 20px); /* 50% para 2 colunas em telas ainda menores */
    }

    #lista-de-produto .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-3.mb-4.depoimento {
        flex: 0 0 100%;
        margin-top: 40px;
    }

    .fa-1x {
        font-size: 1.5rem;
      }
      .navbar-toggler.toggler-example {
        cursor: pointer;
      }
      .dark-blue-text {
        color: #0A38F5;
      }
      .dark-pink-text {
        color: #AC003A;
      }
      .dark-amber-text {
        color: #ff6f00;
      }
      .dark-teal-text {
        color: #004d40;
      }
      #etapas-do-banho .col-md-2.text-center {
        flex: 0 0 100% !important;
        max-width: 100%;
        margin: 10px auto 10px;
        padding: 20px;
    }
    #etapas-do-banho button.btn.btn-primary {
        margin: auto 30px;
    }
    #cuidado-adicional .col-md-3.text-center {
        flex: 100%;
        margin-right: 0px;
    }
    h4.como-funciona {
        float: right;
        font-size: 18px;
    }
    #tratamento-5-estrelas img {
        width: auto;
        margin-bottom: 10px;
        height: 410px;
    }
    .tratamento-col{
        margin: 20px;
    }
}
@media (max-width: 992px) {
    .gallery-item {
        width: 100%; /* 33.33% para 3 colunas em telas menores */
    }

}
